#page-map{
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

#page-map aside{
    width: 440px;
    background: linear-gradient(329.54deg, #42aad3 0%, #369bb4 100%);
    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-map aside h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 64px;
}

#page-map aside p{
    line-height: 28px;
    margin-top: 24px;
}

#page-map aside footer{
    display: flex;
    flex-direction: column;

    line-height: 24px;
}

#page-map aside footer strong{
    font-weight: 800;
}

#page-map .leaflet-container{
    z-index: 5;
}

#page-map .create-jobber{
    position: absolute;
    right: 48px;
    bottom: 40px;

    z-index: 10;

    width: 64px;
    height: 64px;
    background: #06a582;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s;
}

#page-map .create-jobber:hover{
    background: #086e58;
}

#page-map .mapPopup .leaflet-popup-content-wrapper{
    background: rgba(255, 255,255, 0.8);
    border-radius: 20px;
    box-shadow: none;
}

#page-map .mapPopup .leaflet-popup-content{
    color: #964EDE;
    font-size: 20px;
    font-weight: bold;
    margin: 8px 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-map .mapPopup .leaflet-popup-content a{
    width: 40px;
    height: 40px;
    background: #06a582;
    box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-map .mapPopup .leaflet-popup-tip-container{
    display: none;
}

.input-block{
    display: flex;
    justify-content: center;
    align-items: center;
}


.input-block input {
    height: 40px;
    padding: 0 16px;
  }

.input-block .searchService{
    margin-left: 5px;
    background: #8c17eb;
    padding: 5px;
    width: 50px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
  }

.input-block input{
    width: 100%;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
    outline: none;
    color: #5C8599;
}

#page-map .mapPopup .avatar{
    margin-right: 10px;
    border-radius: 10px;
}